body {
  background-color: #9266ff;
}

.app {
  background-color: #3f3160;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}
#to-do-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
}

#to-do-form input[type="text"] {
  background-color: #d9d9d9;
  border: 0;
  width: 200px;
  height: 50px;
  padding: 0 20px;
  margin: 20px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 700;
  letter-spacing: 1px;
}

#to-do-form input[type="text"]::placeholder {
  color: rgba(25, 25, 100, 0.4);
}
#to-do-form input[type="text"]:focus,
#to-do-form input[type="submit"]:focus {
  outline: none;
}

#to-do-form input[type="submit"] {
  height: 50px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: #ae8e1c;
  margin: 20px;
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bolder;

  transition: transform 0.2s ease;
}

#to-do-form input[type="submit"]:hover {
  background-color: #bf9f2d;
}

#to-do-form input[type="submit"]:active {
  transform: scale(0.95);
}

.list {
  color: #fff;
  width: 300px;
  background-color: #b407ac;
  height: 50px;
  margin: 0 auto 20px auto;
  border-radius: 5px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

.list span {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.faicons {
  margin: 0 5px;
  font-size: 15px;
}
